.webform-container-inline div.form-item.chzn-container,
.webform-container-inline div.chzn-container {
  display: inline-block;
  zoom: 1; /* IE7 Fix */
  *display: block; /* IE7 Fix */
}

.chzn-container .chzn-results .highlighted {
  background: #ef4035;
}